<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Billets</title>

    <link rel="stylesheet" href="/webjars/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/webjars/font-awesome/5.6.3/css/fontawesome.min.css">

</head>
<body>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-10">
            <h1 th:text="|Billets ${sponsor.name}|">Billets Ma Société</h1>
        </div>
    </div>
</div>

</body>
</html>