<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Billets</title>

    <link rel="stylesheet" href="/webjars/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/webjars/font-awesome/5.6.3/css/fontawesome.min.css">
    <link rel="stylesheet" href="/webjars/font-awesome/5.6.3/css/solid.min.css">
    <link rel="stylesheet" href="/webjars/font-awesome/5.6.3/css/brands.min.css">
    <link rel="stylesheet" href="/static/style.css" th:href="@{/style.css}">

</head>
<body>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-10">
            <h1 th:text="|Billets ${sponsor.name}|">Billets Ma Société</h1>
            <p><em>Cette page vous permettra de configurer les billets achetés via le sponsoring.</em></p>

            <p>Si vous le pouvez, remplissez les billets au plus tôt, les demandes pour les codes wifi partirons
                <strong>fin février</strong> et ne pourrons être fournis après.</p>

            <p>Vous pouvez remplir l'intégralité des billets sur <a href="#" th:href="${management_url}" target="_blank">cette page</a>
            ou bien les remplir de manière individuelles ci-dessous.</p>

            <p class="lead">Une fois les billets modifiés, cliquez sur ce bouton pour mettre à jour la page :
                <a class="btn btn-primary" href="." th:href="'?v=' + ${#dates.createNow().getTime()}">Recharger la page</a>
            </p>

            <h2>Billets Combo (3 jours d'accès à la conférence)</h2>
            <p>Vous pouvez envoyer le lien individuel aux participants pour qu'ils remplissent eux-même leurs informations.</p>

            <div th:each="a : ${attendees.get('Combo Sponsors (3 jours)')}">
               <th:block th:include="billet-frag :: billet(${a})"/>
            </div>


            <h2>Exposants</h2>
            <p>Billet permettant d'accéder aux stands mais pas aux conférences (RH, commerciaux...)</p>

            <div th:each="a : ${attendees.get('Exposant')}">
                <th:block th:include="billet-frag :: billet(${a})"/>
            </div>


        </div>
    </div>
</div>

</body>
</html>